.search {
    
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 2em;
    margin-right: 2%;
    width: 90%;
}

.spinner {
    height: 25vh;
    text-align: center;
}

.icon {
    position: relative;
    left: 37px;
}

input[type=submit] {
    background-color: #545775;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 50%;
    margin: 5px 5px 5px 25%;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #718F94;
    cursor: pointer;
}



.form {
    margin-top: 12em;
    border-radius: 5px;
    padding: 20px;
    width: 36%;
}

.container {
    margin: 0 2em;
    padding: 2em;
    position: relative;
    border: 5px solid white;
    margin-bottom: 5em;
}

.article {
    margin: 0 2em;
    padding: 2em;
    position: relative;
    border: 5px solid white;
    margin-bottom: 5em;
    text-align: center;
}

.block {
    padding-top: 30%;
}