.register {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    align-items: center;
    background-color: lavender;
    position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 20px;
   padding-bottom: 4em;
  }

  .container {
    padding-top: 40%;
  }

.fields {
    width: 400px;
    height: 50px;
    margin: 20px 65px;
    font-size: larger;
    border-color: gray;
    background-color: transparent;
    border-top:none;
        border-left: none;
        border-right: none;
    outline: none;
  }

.span {
    border-bottom: dotted #1f14c3;
    color: green
   } 
  
.span:hover {
    color: #4CAF50;
   }

.title {
     text-align: center;
     margin: 0.5em;
       }

.agreement {
  padding-left: 5px;
  color: #0000EE;
}