.container {
    margin: 0 2em;
    padding: 10em;
    position: relative;
    margin-bottom: 5em;
    height: 70vh;
    border: 2px solid white;
}

.title {
    border-radius: 8px;
    border: 1px solid;
    padding: 10px;
    background: rgb(240, 239, 239);
}

.aside {
    float: right;
    border: 1px solid;
    height: 60vh;
    width: 30%;
    border-radius: 8px;
    background: rgb(240, 239, 239);
    text-align: center;
}

.img {
    width: 65%;
    border-radius: 8px;
    height: 60vh;
}

.description {
    font-size: 22px;
    border: 1px solid;
    padding: 10px;
    background: rgb(240, 239, 239);   
}