body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 70%;
  margin: 2em auto;
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Ubuntu&display=swap');

nav {
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

main {
  font-family: 'Ubuntu', cursive;
}

.app {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    margin-top: 8.5%;
    padding: 0.5%;
    /* border: 1px solid purple; */
    margin-bottom: 0.1%;
}